.todo-form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(227, 149, 149);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.todo-form-popup input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #1f1919;
  border-radius: 4px;
}
.todo-form-popup button {
  background-color: rgb(169, 172, 235);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
} 
.delete-icon {
  margin-left: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}
.todo-item {
  line-height: 2rem;  /* adjust as needed */
}
