#root {
  text-align: center;
}


.todo-header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-bottom: 1rem;
  background-color: rgb(169, 172, 235);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 0.1rem;
  color: white;
}
.todo-input {
  margin-bottom: 1rem;
  background-color: rgb(224, 225, 236);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 0.1rem;
  color: rgb(117, 121, 240);
}
.add-item-popup-button {
  margin-left: 1rem;
  background-color: rgb(169, 172, 235);
  border: none;
  border-radius:18px;
  padding: 1.2rem 2.5rem;
  color: white;
  cursor: pointer;
}
.add-item-popup-button:hover {
  background-color: rgb(117, 121, 240);
}